<div xmlns:th="http://www.thymeleaf.org" th:fragment="login_resource">
    <head>
    <meta charset="UTF-8">
    <title>SPRINGBOOT-AUTH</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" th:href="@{/layuiadmin/css/style.css}">
    <link rel="stylesheet" th:href="@{/layuiadmin/lib/layui/css/layui.css}" media="all">
    <script type="text/javascript" th:src="@{/layuiadmin/lib/admin/jquery-1.9.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/layuiadmin/lib/layui/layui.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>
</div>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="index_resource">
    <head>
        <meta charset="UTF-8">
        <title>SPRINGBOOT-AUTH</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="hg-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <link rel="stylesheet" th:href="@{/layuiadmin/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/layuiadmin/lib/layui/css/layui.css}" media="all">
        <link rel="stylesheet" th:href="@{/layuiadmin/lib/admin/admin.css}" media="all">
        <link rel="stylesheet" th:href="@{/layuiadmin/lib/Scrollbar/jquery.scrollbar.css}">
        <link rel='stylesheet' th:href="@{/layuiadmin/lib/nprogress/nprogress.css}"/>
        <script type="text/javascript" th:src="@{/layuiadmin/lib/layui/layui.js}"></script>
        <script type="text/javascript" th:src="@{/layuiadmin/lib/admin/admin.js}"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script type="text/javascript" th:src="@{/layuiadmin/lib/layui/lay/modules/form.js}"></script>
        <script type="text/javascript" th:src="@{/layuiadmin/lib/admin/jquery-1.9.1.min.js}"></script>
        <script type="text/javascript" th:src="@{/layuiadmin/lib/Scrollbar/jquery.scrollBar.js}"></script>
        <!-- 请求进度条插件 -->
        <script th:src="@{/layuiadmin/lib/nprogress/nprogress.js}"></script>
    </head>
</div>